<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipusoft.xlibrary">

    <application>
        <activity android:name=".view.IpuWebViewActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.ipusoft.xlibrary.IpuWebViewActivity" />
            </intent-filter>
        </activity>
    </application>
</manifest>